.pricing-card {
  color: #fff;
  width: 300px;
  height: 200px;
  overflow: scroll;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
}
