/*
* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--pink, #d3a8af);
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  padding: 12px 48px;
}

@media (max-width: 991px) {
  .navbar {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

.navbar-item {
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: #d9d9d9;
  width: 136px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: var(--pink, #d3a8af);
  min-height: 193px;
  margin-top: 100vh;
  width: 100%;
}

@media (max-width: 991px) {
  .footer {
    max-width: 100%;
    margin-top: 40px;
  }
}
*/

$background-color_1: #fff;
$background-color_2: var(--pink, #d3a8af);
$background-color_3: #d9d9d9;

* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  background-color: $background-color_1;
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: $background-color_2;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  padding: 12px 48px;
}
.navbar-item {
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: $background-color_3;
  width: 136px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  background-color: $background-color_2;
  min-height: 193px;
  margin-top: 100vh;
  width: 100%;
}
@media (max-width: 991px) {
  .navbar {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .footer {
    max-width: 100%;
    margin-top: 40px;
  }
}
