.pricing-cards-container {
  font-family: 'Breath_Demo';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 250px;
}

.pricing-faq-container {
  font-family: 'Breath_Demo';
  font-size: 12px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // gap: 30px;
}

.title {
  height: 40px;
}

.description {
  height: 50px;
}

.pricing-faq {
  width: 70px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  font-size: 30px;
}

#container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;
  color: #fff;
  position: absolute;

  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  font-family: 'Raleway', sans-serif;
  font-size: 80pt;

  text-align: center;

  user-select: none;
}
