@mixin shadow {
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 1);
}

@mixin rounded-border {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
}

@mixin shadow_light {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

body,
html {
  background-color: #fff;
  // user-select: none;
  // -webkit-user-select: none;
}

.canvas-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;

  .background-dark {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 101;
    transition: opacity 1s ease;
    &.active {
      visibility: visible;
      opacity: 0.75;
      transition: opacity 0.2s ease;
    }
  }
}

$dot-space: 30px;
$dot-color: lightgray;
$dot-color-dark: gray;
#canvas {
  overflow: hidden !important;
  display: grid;
  top: 0;

  background-position-x: var(--dot-x);
  background-position-y: var(--dot-y);

  background-size: var(--dot-space) var(--dot-space),
    var(--dot-space) var(--dot-space),
    calc(var(--dot-space) * 5) calc(var(--dot-space) * 5),
    calc(var(--dot-space) * 5) calc(var(--dot-space) * 5);
  cursor: url('/pen_cursor.svg') 4 20, auto;
}

.dotted-grid {
  background-image: radial-gradient(
    circle,
    var(--dot-color) 1.5px,
    rgba(0, 0, 0, 0) 0px
  );
}

.lined-grid {
  background-image: linear-gradient(
      to right,
      var(--dot-color) 0.01em,
      transparent 0.05em
    ),
    linear-gradient(to bottom, var(--dot-color) 0.01em, transparent 0.05em),
    linear-gradient(to right, var(--dot-color) 0.01em, transparent 0.05em),
    linear-gradient(to bottom, var(--dot-color) 0.01em, transparent 0.05em);
}

// #canvas {
//   overflow: hidden !important;
//   cursor: url('/pen_cursor.svg') 4 20, auto;

//   // background-color: #f0f0f0 !important;
//   --dot-bg: #f0f0f0;
//   --dot-color: lightgray;
//   --dot-size: 2px;
//   background: linear-gradient(
//         90deg,
//         var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
//         transparent 1%
//       )
//       center / var(--dot-space) var(--dot-space),
//     linear-gradient(
//         var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
//         transparent 1%
//       )
//       center / var(--dot-space) var(--dot-space),
//     var(--dot-color);
// }

.color-picker {
  position: absolute;
  bottom: 50px;
  left: 10px;
  z-index: 10;
}

#color {
  width: 20px;
  outline: none;
  color: #fff;
  caret-color: #fff;
  font-size: 16px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

// input * {
//   background-color: red !important;
// }

.circular-cursor {
  background-color: transparent;
  border: 0.3px solid #999999;
  border-radius: 50%;
  position: absolute;
  // width: 10px;
  // height: 10px;
  z-index: 100;
  pointer-events: none;
}

$cursorColor: #0072ce !default;

.cursor {
  position: absolute;
  will-change: transform;

  @media (hover: none) {
    display: none;
  }
}

.list-choice {
  @include shadow_light();
  width: 200px;
  // max-height: 100px;
  // overflow-y: scroll;
  position: relative;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 15px;
  left: 15px;
  border-radius: 7px;
}
.list-choice input[type='radio'] {
  position: absolute;
  left: -9999px;
}

.list-choice-title {
  width: 100%;
  display: block;
  background: #fff;
  text-align: center;
  padding: 0.55em 1em;
  box-sizing: border-box;
  color: #000;
  text-shadow: 0 1px 0 #cacaca;
  border-radius: 7px;
}
.list-choice:hover .list-choice-title {
  border-radius: 7px 7px 0 0;
}
.list-choice-objects label:nth-last-of-type(1) span {
  border-radius: 0 0 7px 7px;
}
.list-choice input[type='radio'] + span {
  color: #000;
  background: #ffffff;
  padding: 0.55em 1em;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
}
.list-choice-objects {
  position: absolute;
  top: 0;
  padding-top: 2.1em;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 250ms ease;
}
.list-choice:hover .list-choice-objects input[type='radio'] + span {
  position: relative;
  top: 0;
  transition: all 250ms ease-in-out;
}
.list-choice:hover input[type='radio'] + span:hover {
  background: #bbb;
}
.list-choice:hover input[type='radio']:checked + span:hover {
  background: #edbfdb;
}
.list-choice input[type='radio']:checked + span {
  background: #edbfdb;
  position: absolute;
  top: 0em;
  border-radius: 0.2em;
}
.list-choice:hover input[type='radio']:checked + span {
  border-radius: 0;
}
.list-choice:hover
  .list-choice-objects
  label:nth-last-of-type(1)
  input[type='radio']:checked
  + span {
  border-radius: 0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
  max-height: 540px;
}

#font-size {
  top: 30px;
}

.slider {
  z-index: 100;
  height: 20px;
  position: absolute;
  left: 10px;
  bottom: 30px;
  width: 100px;

  input {
    --c: #20190c; /* active color */
    --g: 2px; /* the gap */
    --l: 3px; /* line thickness*/
    --s: 10px; /* thumb size*/
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    height: var(--s); /* needed for Firefox*/
    --_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
    --_b: var(--s);
    overflow: hidden;
  }
  input:focus-visible,
  input:hover {
    --p: 25%;
  }

  /* chromium */
  input[type='range' i]::-webkit-slider-thumb {
    height: var(--s);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
    border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 /
      calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
    -webkit-appearance: none;
    appearance: none;
  }
  /* Firefox */
  input[type='range']::-moz-range-thumb {
    height: var(--s);
    width: var(--s);
    background: none;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
    border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 /
      calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
    -moz-appearance: none;
    appearance: none;
  }
  @supports not (color: color-mix(in srgb, red, red)) {
    input {
      --_c: var(--c);
    }
  }
}

.cursor_avatar {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.loading_container {
  transition: opacity 1s ease;
}

.loading_logo {
  width: 200px;
  height: auto;
  animation: fadein 1s;

  @keyframes fadein {
    from {
      fill: #edbfdb;
    }
    to {
      fill: #000;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.shape-selection {
  display: flex;
  flex-direction: column;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

$viewport-width: 100vw;
$viewport-height: 100vh;
.reaction-animation {
  position: absolute;
  left: 0;
  bottom: -70px;
  width: 40px;
  height: 40px;
  z-index: 100;
  offset-path: path('M0,0 C40,-700 400,-700 400,0');
  animation: parabolicJump 2s linear;

  @media screen and (max-width: 400px) {
    //use viewport height and width to set offset-path
    offset-path: path('M0,0 C40,-500 300,-500 300,0');
  }
}

@keyframes parabolicJump {
  0% {
    offset-distance: 0%;
    offset-rotate: auto -90deg;
  }
  75% {
    offset-rotate: reverse;
  }
  100% {
    offset-rotate: 180deg reverse;
    offset-distance: 100%;
  }
}

.reactions-jump-container {
  position: absolute;
  bottom: 0;
  z-index: 999;
  left: calc(50% - 200px);
  height: 30px;
  width: 400;
}

.clown {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  width: 0;
  height: 0;
  animation: clown 4s ease-in-out;
  opacity: 1;
  animation-fill-mode: forwards;
  left: 200px;
  bottom: 50vh;

  // set display: none after 5 seconds

  // rotate relative of center
  transform-origin: center center;
  @keyframes clown {
    0% {
      transform: scale(0.1);
    }
    15% {
      transform: scale(0.2);
    }
    20% {
      transform: rotate(10deg) scale(0.2);
    }
    25% {
      transform: rotate(-10deg) scale(0.2);
    }
    30% {
      transform: rotate(10deg) scale(0.2);
    }
    35% {
      transform: rotate(-10deg) scale(0.2);
    }
    40% {
      transform: rotate(10deg) scale(0.2);
    }
    45% {
      transform: rotate(-10deg) scale(0.2);
    }
    50% {
      transform: rotate(10deg) scale(0.2);
    }
    55% {
      transform: rotate(-10deg) scale(0.2);
    }
    60% {
      transform: rotate(10deg) scale(0.2);
    }
    65% {
      transform: rotate(0) scale(0.2);
      opacity: 1;
      visibility: visible;
    }
    100% {
      transform: scale(10);
      opacity: 0;
      visibility: hidden;
    }
  }
}

.sidebar-tools-container {
  @include shadow_light();
  left: 15px;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 40px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  z-index: 100;
  background-color: #fff;

  border-radius: 7px;

  &.loading {
    background-color: #fff;
    background: linear-gradient(110deg, #f8f8f8 25%, #fbfbfb 25%, #f8f8f8 33%);
    background-size: 200% 100%;
    animation: 0.75s shine linear infinite;

    .tool-item {
      visibility: hidden;
      opacity: 0;
    }
  }

  .tool-item {
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 7px;

    &:hover {
      background-color: #cbcbcb;
    }
  }

  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }

  .additional-box-container {
    @include shadow_light();
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    width: 35px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto;
    margin-left: 90px;
    z-index: 100;
    border-radius: 7px;
  }
}

.modal-window-request,
.modal-window-not-found {
  position: absolute;
  width: 60%;
  height: 400px;
  background-color: #bababa;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: 'Breath_Demo';
  z-index: 99999;
  .modal-window-request-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 200px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    &:hover {
      background-color: #222;
    }
  }
}

.notifications-container {
  pointer-events: all;
  position: absolute;
  top: 0;
  right: 200px;
  z-index: 100;
  width: 200px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;
  font-family: 'Breath_Demo';
  border-radius: 10px;
}

.notification-container {
  word-break: break-all;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 100%;
  cursor: pointer;
  color: #000;
  &:hover {
    background-color: #bfbfbf;
  }
}

.dashboard-header-notifications {
  @include rounded-border;
  width: 45px;
  height: 45px;
}

.canvas-header-right-container {
  @include shadow_light();
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 100;
  background-color: #fff;
  width: auto;
  height: 50px;
  padding: 10px;

  top: 15px;
  right: 15px;
  border-radius: 7px;

  &.loading {
    .canvas-header-right-notifications {
      opacity: 0;
    }
    .online-members-container {
      opacity: 0;
    }
    .settings-icon-container {
      opacity: 0;
    }
    background-color: #fff;
    background: linear-gradient(110deg, #f8f8f8 25%, #fbfbfb 25%, #f8f8f8 33%);
    background-size: 200% 100%;
    animation: 0.75s shine linear infinite;
  }

  .settings-icon-container {
    transition: opacity 1s ease-in-out;
    user-select: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .settings-icon {
      width: 25px;
      height: 25px;
      pointer-events: none;
    }
  }

  .canvas-header-right-notifications {
    transition: opacity 1s ease-in-out;
    @include rounded-border;
    width: 45px;
    height: 45px;
    z-index: 100;

    .dashboard-header-notifications-logo {
      filter: invert(1);
    }

    .notification-item {
      color: #000;
    }

    .mouse-over-profile {
      @include shadow_light();
      background-color: #fff;
      color: #000;
    }

    .modal-form-notifications {
      @include shadow_light();
      background-color: #fff;
    }
  }

  .online-members-container {
    transition: opacity 1s ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    width: 45px;
    max-width: 90px;
    height: 45px;
    overflow: hidden;
    transition: width 0.2s ease-in-out;

    &.active {
      width: 90px;
      transition: width 0.2s ease-in-out;
    }

    .online-member {
      cursor: pointer;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      object-fit: cover;
    }
  }
}

.reaction-choose-container {
  @include shadow_light();
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 15px;
  right: 15px;
  background-color: #fff;
  width: 160px;
  z-index: 100;
  display: flex;
  border-radius: 7px;
  padding: 5px;

  &.loading {
    background-color: #fff;
    background: linear-gradient(110deg, #f8f8f8 25%, #fbfbfb 25%, #f8f8f8 33%);
    background-size: 200% 100%;
    animation: 0.75s shine linear infinite;

    .reaction-item {
      opacity: 0;
    }
  }

  .reaction-item {
    transition: opacity 1s ease-in-out;
    user-select: none;
    width: 40px;
    height: 40px;
    z-index: 100;
    cursor: pointer;
  }
}

.modal-window-settings {
  overflow: hidden;
  @include shadow_light();
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #fff;
  z-index: 102;
  border-radius: 7px;

  .user-avatar {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.file-input-font {
  z-index: 100;
  display: none;
}

.upload-font-button {
  @include shadow_light();
  font-family: 'Breath_Demo';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  z-index: 100;
  background-color: #fff;
  top: 15px;
  left: 220px;
  padding: 15px;
  width: auto;
  height: 35px;
  border-radius: 7px;
  cursor: pointer;
}

.grid-selection {
  @include shadow_light();
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Breath_Demo';
  z-index: 100;
  background-color: #fff;
  width: 80px;
  height: 35px;
  border-radius: 7px;
  padding: 5px;
  top: 15px;
  left: 340px;
}
