.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
  background-color: #b1c3d6;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 250px;
    margin-right: 8px;
    object-fit: cover;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  p {
    color: #333333;
  }
}

.image-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-container {
  display: grid;
  // flex-wrap: wrap;
  // align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  grid-gap: 5px;
  padding: initial;
  justify-content: center;
}

.title {
  color: #fff !important;
}

@mixin shadow {
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 1);
}

@mixin rounded-border {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
}

.dashboard-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  height: 70px;
  padding: 15px;
}

.dashboard-header-user-avatar {
  @include rounded-border;
  overflow: hidden;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  &:hover {
    // padding: 3px;
  }
}

.dashboard-header-user-img {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.modal-canvas-form {
  @include shadow;
  z-index: 105;
  position: absolute;
  width: 600px;
  height: 400px;
  background-color: #242424;
  border-radius: 7px;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Breath_Demo';
  font-size: 30px;
  gap: 5px;

  input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-family: 'Breath_Demo';
    color: #fff;
    background-color: #2b2b2b;
    border: none;
    border-radius: 7px;
  }

  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
  }

  .modal-canvas-form-submit-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    font-family: 'Breath_Demo';
    // position: absolute;
    border-radius: 7px;
    background-color: #fff;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    height: 100%;
  }
}

.modal-form-profile {
  float: left;
  position: absolute;
  width: 200px;
  height: auto;
  background-color: #2b2b2b;
  top: 65px;
  right: 15px;
  padding: 3px;
  cursor: default;
  border-radius: 7px;
  @include shadow;
}

.modal-form-notifications {
  font-family: 'Breath_Demo';
  float: left;
  position: absolute;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #2b2b2b;
  top: 65px;
  right: 15px;
  padding: 3px;
  cursor: default;
  border-radius: 7px;
  @include shadow;

  .notification-item {
    list-style: none;
    color: #d3d3d3;
    word-wrap: break-word;
  }
}

.dashboard-header-notifications-logo {
  object-fit: cover;
  height: 25px;
  width: 25px;
  pointer-events: none;
  filter: invert(0);
}

.dashboard-header-right {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dashboard-header-notifications {
  @include rounded-border;
  width: 45px;
  height: 45px;
}

.mouse-over-profile {
  font-family: 'Breath_Demo';
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #2b2b2b;
  padding: 12px;
  width: auto;
  height: 30px;
  color: #fff;
  margin-top: 90px;
  z-index: 10;
  @include shadow;
}

.profile-button {
  height: 40px;
  width: 100%;
  overflow: hidden;
  color: #d3d3d3;
  list-style: none;
  font-family: 'Breath_Demo';

  &:last-child {
    border-top: #828282 0.1px solid;
  }

  a {
    border-radius: 2px;
    padding: 10px;
    display: block;
    color: #d3d3d3;
    width: 100%;
    text-decoration: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;
    }
  }
}

.create-button-container {
  left: calc(50% - 68px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;

  &:hover {
    background-color: #ccc;
  }

  .create-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Breath_Demo';
  }

  @media screen and (max-width: 1000px) {
    position: fixed;
    border-radius: 50%;
    bottom: 15px;
    right: 15px;
    min-width: 50px;
    min-height: 50px;
    height: 50px;
    width: 50px;
  }
}
