// $background-color_1: #fff;
// $background-color_2: var(--pink, #000000);
// $background-color_3: #d9d9d9;

* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  background-color: #000 !important;
  min-height: 100vh;
  max-width: 100vw;
  // overflow: hidden !important;
  // overflow-x: hidden;
  // overflow: hidden !important;
}

body.active,
html.active {
  overflow: hidden !important;
}

.index-container {
  width: 100%;
  max-height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  // height: 100%;
  // min-height: 100vh;
  // background-color: #d9d9d9;
  overflow: auto;
  position: relative;
}

.flex1 {
  flex: 1;
}

.index-main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  position: relative;
  width: 1000px;
  min-height: 100%;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

.header {
  // background-color: red;
  padding: 15px;
  // z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  top: 0;
  gap: 20px;
  height: 70px;
  @media screen and (max-width: 1000px) {
    height: 50px;
  }

  .navbar-container-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .navbar-separator {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 1px;
      background-color: #fff;
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    .navbar-item-helper {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-decoration: none;
      height: 30px;
      &:hover {
        color: #ddd;
      }
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    .navbar-item {
      border-radius: 15px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      text-decoration: none;
      width: 136px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      &:hover {
        background-color: #eee;
      }
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }

    .navbar-helpers {
      font-family: 'Breath_Demo';
      z-index: 1;
      display: flex;
      gap: 20px;
      user-select: none;
      -webkit-user-select: none;
      cursor: pointer;
    }

    .navbar-signup-signin {
      font-family: 'Breath_Demo';
      z-index: 1;
      display: flex;
      gap: 20px;
      user-select: none;
      -webkit-user-select: none;
      cursor: pointer;
    }
  }
}

.canvas-logo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font: 400 40px 'Breath_Demo';
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;

  @media screen and (max-width: 1000px) {
    font-size: 30px;
  }
}

#main-quote {
  word-wrap: break-word;
  color: white;
  position: absolute;
  text-align: center;
  top: 35%;
  left: 50%;
  width: 500px;
  padding: 15px;

  transform: translate(-50%, -50%);
  font: 400 40px 'Breath_Demo';
  letter-spacing: 2px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.75) 0px 0px 20px;
  // filter: blur(1px);
  @media screen and (max-width: 480px) {
    width: 100%;
    font-size: 30px;
    word-wrap: break-all;
  }
}

#quote-author {
  color: white;
  position: absolute;
  text-align: center;
  top: 100%;
  bottom: auto;
  transform: translate(-50%, -50%);
  font: 400 20px 'Roboto Mono';
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
  font-family: 'Breath_Demo';
  z-index: 1;
  color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;

  @media screen and (max-width: 480px) {
    font-size: 14px;
    flex-wrap: wrap;
    .footer-copyright-text {
      width: 100vw;
    }
  }

  @media screen and (max-width: 950px) {
    .footer-copyright {
      gap: 0 !important;
    }
  }

  a {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
  }

  a:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
  }

  .footer-region {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    gap: 2px;
  }

  .footer-region-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    width: 16px;
    height: 16px;
    margin-bottom: 4px;
    filter: invert(100%);
  }

  .footer-copyright {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    padding-right: 10px;
  }

  .footer-links {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
  }
}

.background-image {
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: 0.9;
  object-fit: cover;
  // width: auto\9;
  // max-height: 130vh;
  user-select: none;
  -webkit-user-select: none;
  //make seemless looping video
  transition: opacity 2s ease-in-out;

  &.hidden {
    transition: opacity 2s ease-in-out;
    opacity: 0;
  }

  &.show {
    opacity: 0.9;
  }
}

.logo {
  height: 32px;
  width: 32px;
  margin-bottom: 9px;
  pointer-events: none;

  @media screen and (max-width: 1000px) {
    height: 24px;
    width: 24px;
  }
}

.logo-text {
}

.container {
  width: 100%;
  height: 100%;
}

.circle-container {
  color: #fff;
  $particleWidth: 10px;
  $particleNum: 200;
  $particleColor: (0, 0, 0, 0);

  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .circle {
    // filter: drop-shadow(0 0 30px rgba(255, 255, 255, 1));
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;

    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleWidth);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: 'move-frames-' + $i;
      $moveDuration: 7000 + random(4000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(11000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(
            #{random(100) + vw},
            #{$startPositionY + vh},
            0
          );
        }

        to {
          transform: translate3d(
            #{random(100) + vw},
            #{- $startPositionY - random(30) + vh},
            0
          );
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .index-main {
    width: 100vw;
  }
}

.modal-region {
  position: absolute;
  color: #fff;
  font-family: 'Breath_Demo';
  width: 80%;
  height: 300px;
  top: 20%;
  left: 10%;
  z-index: 999;
  background-color: #171717;
  border-radius: 10px;

  .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .country-container {
    height: 60px;

    &:hover {
      cursor: pointer;
      background-color: #343434;
    }
  }
}

.menu-hamburger-container {
  z-index: 99999;
  display: none;

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.menu-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16px;
  width: 22px;
  .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
  }

  .line1 {
    transform-origin: 100% 0%;
    transition: transform 0.2s ease-in-out;
  }
  .line2 {
    transition: transform 0.1s ease-in-out;
  }
  .line3 {
    transform-origin: 100% 100%;
    transition: transform 0.2s ease-in-out;
  }
}

.menu-toggle {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;

  &:checked ~ .menu-hamburger .line1 {
    transform: rotate(-45deg);
  }
  &:checked ~ .menu-hamburger .line2 {
    transform: scaleY(0);
  }
  &:checked ~ .menu-hamburger .line3 {
    transform: rotate(45deg);
  }
}

.menu-items-wrapper {
  visibility: hidden;
  height: var(--viewport-height);
  background-color: #000;
  width: 450px;
  z-index: 5;
  opacity: 0;
  position: absolute;
  overflow-y: auto;
  transform: translate(100%);
  transition: all 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  top: 0;
  right: 0;
  @media screen and (max-width: 450px) {
    width: 100%;
  }

  @media screen and (max-width: 1000px) {
    display: block;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
.menu-items {
  top: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  padding: 20px;
  padding-top: 30px;
  background-color: #000;
  min-height: 350px;
  width: 100%;
  height: 100%;
  z-index: 5;
  color: #fff;
  transform: translate(100%);
  transition: all 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  text-align: left;
  overflow-x: hidden;
  visibility: hidden;

  .menu-item-transition {
    transform: translateX(100%);
    transition-delay: 0.3s;
  }

  .menu-item {
    width: 100%;
    height: 50px;
    list-style: none;
    user-select: none;

    a {
      width: 100%;
      display: block;
      text-decoration: none;
      color: #d3d3d3;
      font-weight: 500;
      font-size: 30px;

      &:hover {
        color: #b6b6b6;
      }
    }

    &:hover {
      cursor: pointer;
    }

    .bold {
      font-weight: bold;
      font-size: 36px;
      color: #fff;
    }
  }

  .menu-separator {
    margin: 15px 0;
    width: 100%;
    height: 3px;
    list-style: none;
    .separator-line {
      width: 20px;
      height: 3px;
      background-color: #fff;
    }
  }

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
}

.menu-items.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  .menu-item-transition {
    transform: translateX(0);
  }
  @for $i from 1 through 6 {
    :nth-child(#{$i}) {
      transition: all #{$i * 0.05}s ease-in-out;
    }
  }
}

.logo-menu {
  width: 100%;
  justify-content: left;
  list-style: none;
  position: absolute;
  bottom: 15px;
}

.background-dark {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 4;
  transition: all 0.7s ease;

  @media screen and (max-width: 1000px) {
    display: block;
  }
}

.background-dark.active {
  visibility: visible;
  opacity: 0.75;
  transition: all 0.4s ease;
}
